doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  body
    nav(class="navbar navbar-default")
      div(class="container-fluid")
        div(class="navbar-header")
          a(class="navbar-brand" href="/") WebSiteName
        ul(class="nav navbar-nav")
          li(class=(title === 'Login' ? 'active' : ''))
            a(href="/users/login") Login
          li(class=(title === 'Register' ? 'active' : ''))
            a(href="/users/register") Register
          li(class=(title === 'User' ? 'active' : ''))
            a(href="/users") User
          li(class=(title === 'About Us' ? 'active' : ''))
            a(href="/aboutus") About Us
          li(class=(title === 'Crud' ? 'active' : ''))
            a(href="/crud") Crud
        ul(class="nav navbar-nav navbar-right")
          li
        block content
        